<!--The content below is only a placeholder and can be replaced.-->
<div class="unselectable" >
    <div style="text-align:center">
       <br>
       <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
       <a href="https://lleidahack.github.io/hackeps2018/"><img id="hackeps-logo" class="rounded transition-logo" src="../../assets/img/HACKEPSweb.png" alt="HackEps logo" style="max-width: 25%;"></a>
       <div class='timer-font'>
          <countdown-timer
            class="timer-white-font"
            [end]="'2018-11-18 12:00:00'">git
          </countdown-timer>
       </div>
    </div>
    <div class='challengebox'>
       <h1 class='hackday-font-black' style="text-align:center">
          <br>
          Retos de la HackEPS 2018:
          <br>
       </h1>
       <div class="row">
          <div class="column-company">
              <img src="../../assets/img/EPS.png" alt="Escola Politècnica Superior" class="company-logo">
          </div>
          <div class="column-challenge">
             <h1 class='hackday-font-black'>Reto Josep Mª Ribó: ProjectHub</h1>
             <p>
                Como todos sabéis a los profesores les encantan proponer proyectos a los alumnos y los de la EPS no iban a ser menos. El reto propuesto, consiste en desarrollar una aplicación con el objetivo de ejecutar un flujo de trabajo que concluya con una propuesta de proyecto, asignada a un alumno, dirigida por un profesor y visada por el coordinador de la titulación. La propuesta de proyecto, que tanto podrá ser iniciada por un alumno como por un profesor, pasará por diferentes fases en las que la propuesta va sufriendo modificaciones. Se quiere disponer de trazabilidad de cada una de estas versiones. La aplicación pretende ser multiplataforma, por lo tanto hay que tener en cuenta el responsive, así como las funciones on-line off-line.
             </p>
             <p>Tecnologías: A gusto del programador, tanto lenguaje como cliente/servidor.</p>
             <p><a href="../assets/pdf/Proposta Repte EPS 2018.pdf" target=_blank>Documentación reto EPS</a></p>
             <b>Recompensa: ... </b>
          </div>
       </div>
       <hr>
       <div class="row">
          <div class="column-challenge">
             <h1 class='hackday-font-black'>Asistente interactivo para un centro de salud</h1>
             Integrar un asistente de voz en el proceso de sol·licitud de cita y  de check-in en un centro de salud.
             <p>Tecnologías: A gusto del programador, tanto lenguaje como cliente/servidor.</p>
             <p><a href="../assets/pdf/Xtrategics - hackEPS Lleida 2018.pdf" target=_blank>Documentación reto Xtrategics</a></p>
             <b>Recompensa: ...</b> 
          </div>
          <div class="column-company">
              <img src="../../assets/img/xtrategics.png" alt="Escola Politècnica Superior" class="company-logo">
          </div>
       </div>
       <hr>
       <div class="row">
          <div class="column-company">
              <img src="../../assets/img/stratesys.png" alt="Escola Politècnica Superior" class="company-logo">
          </div>
          <div class="column-challenge">
            <h1 class='hackday-font-black'>Protect.me "Di adios al Bullying"</h1>
            <p>
                Una Hackathon es un evento donde la gente va a pasárselo bien con los diferentes retos, y Stratesys lo sabe, pero además, han tenido la brillante idea de combinar la diversión con la lucha contra un gran problema como es el acoso escolar. ¿Qué es protect.me? Es un sistema fácil e intuitivo contra el acoso  escolar. La idea es crear un canal de comunicación rápido, sencillo y eficaz entre el alumno y el responsable  de la seguridad e integridad del mismo.
            </p>
            <p>Tecnologías: A gusto del programador, tanto lenguaje como cliente/servidor.</p>
            <b>Recompensa: 1 Dron con Cámara para cada miembro del equipo.</b>
          </div>
       </div>
       <hr>
       <div class="row">
          <div class="column-challenge">
             <h1 class='hackday-font-black'>Prever el Comportamiento Futuro</h1>
             <p>
                El mundo del Machine Learning es muy importante hoy en día para las grandes empresas, y como no, también lo es para una gran empresa como la que es BonÀrea, así pues, con el reto propuesto por ellos, deberéis aplicar Machine Learning sobre una serie de datos para poder contestar las preguntas que se os formularan a posteriori, es muy importante que detalléis bien tanto las respuestas que proporcionéis como las metodologías que habéis seguido para llegar a dicha conclusión. Si el Data Science es lo vuestro, este reto os encantará.
            </p>
            <p><a href="../assets/pdf/Presentacio_v4_castella.pdf" target=_blank>Documentación reto BonÀrea</a></p>
            <p>Tecnologías: Lenguaje a gusto del programador.</p>
            <b>Recompensa: 1000€ para la tienda de ingeniería de BonÀrea.</b>
          </div>
          <div class="column-company">
              <img src="../../assets/img/bonarea.png" alt="Logo Corporativo Bonarea" class="company-logo">
          </div>
       </div>
       <hr>
       <div class="row">
          <div class="column-company">
              <img src="../../assets/img/semic.png" alt="Logo Corporativo SEMIC" class="company-logo">
          </div>
          <div class="column-challenge">
             <h1 class='hackday-font-black'>SEMIC Challenge</h1>
             <p> 
                 Un año mas, SEMIC nos presenta el SEMIC challenge. 5 retos ordenados de mas fácil a mas difícil donde tendréis que estrujaros el cerebro para resolverlos, los retos de SEMIC destacan por su creatividad así que tendréis que usar la imaginación i estar muy atentos a los detalles, para empezar la URL para acceder a la pagina de los retos está "encriptada", la complejidad no es precisamente máxima pero os dará una idea de lo que os depara.
            </p>
            <p> 
                URL de acceso al reto: 
                <img src="../assets/flaticon/bee.png">
                <img src="../assets/flaticon/drop.png">
                <img src="../assets/flaticon/friendship.png">.semicinternet.com
            </p>
            <p>Tecnologías: Lenguje a gusto del programador.</p>
            <b>Recompensa: Apple Ipad Air 2 Wi-Fi + Celular (Uno por cada miembro del equipo).</b>
          </div>
       </div>
    </div>
 </div>
 <router-outlet></router-outlet>
