summary{
    cursor: pointer;
  }
  
  /*Classes*/
  
  .hackday-font-black{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
  }
  
  .hackday-font-description{
    color: #88929a;
  }

  .timer-font{
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    font-size: 72px;
    color: black;
  }

  .unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .challengebox{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
  }

  .company-logo{
    width: 100%;
  }

  /*Ids*/

  #content-wrapper{
    display:table;
  }
  
  #content{
    display:table-row;
  }
  
  #content>div{
    display:table-cell
  }
  
  .column-challenge {
    float: left;
    width: 66%;
    text-align: justify;
    margin:2%;
  }

  .column-company {
    float: left;
    width: 26%;
    text-align: justify;
    margin:2%;
  }

/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
